<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corner Craft</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <nav class="bg-white p-4 flex justify-between items-center border-b">
        <a href="/">
            <h1 class="text-green-600 font-bold text-xl">Corner Craft</h1>
        </a>
        <div>
            <a href="/videos" class="text-gray-600 mr-4 hover:text-gray-700 hover:underline transition""">Tutoriais</a>
            <% if (usuario) { %>
                <a href="/videos/publicar"
                    class="text-gray-600 mr-4 hover:text-gray-700 hover:underline transition">Publicar</a>
                <% if (usuario.papel==='admin' ) { %>
                    <a href="/admin" class="text-gray-600 mr-4 hover:text-gray-700 hover:underline transition">Painel
                        ADM</a>
                    <% } %>
                        <a href="/auth/logout"
                            class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition">Sair</a>
                        <% } else { %>
                            <a href="/auth/login"
                                class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition">Entrar</a>
                            <% } %>
        </div>
    </nav>